includes:
	- phpstan-baseline.neon

parameters:
	# https://phpstan.org/config-reference#rule-level
	level: max
	# https://phpstan.org/config-reference#phpversion
	phpVersion: 80100
	# https://phpstan.org/config-reference#inferprivatepropertytypefromconstructor
	inferPrivatePropertyTypeFromConstructor: true
	# https://phpstan.org/user-guide/ignoring-errors#reporting-unused-ignores
	reportUnmatchedIgnoredErrors: false

	bootstrapFiles:
		- tests/phpstan-bootstrap.php

	paths:
		- web/wp-content/mu-plugins
		- web/wp-content/plugins
		- web/wp-content/themes/gesso
		- web/wp-content/plugins/custom-block-library

	scanFiles:
		- %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
		- %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-stubs.php
		- %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-commands-stubs.php
		- %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-i18n-stubs.php

	scanDirectories:
		- web/wp-content/plugins

	excludePaths:
		analyse:
			- tests/
			- web/wp-content/plugins
			- web/wp-content/themes/gesso/source
			- web/wp-content/vendor
		analyseAndScan:
			- tests/*
			- web/*/build/*
			- web/*/dist/*
			- web/*/languages/*
			- web/*/node_modules/*
			- web/*/css/*
			- web/*/fonts/*
			- web/*/img/*
			- web/*/js/*
			- web/*/sass/*
			- web/wp-content/acf-json
			- web/wp-content/config
			- web/wp-content/upgrade
			- web/wp-content/uploads
			- web/wp-content/wflogs

	ignoreErrors:
		# Uses func_get_args()
		# - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
		# Fixed in WordPress 5.3
		# - '#^Function do_action(_ref_array)? invoked with [3456] parameters, 1-2 required\.$#'
		# - '#^Function current_user_can invoked with 2 parameters, 1 required\.$#'
		# - '#^Function add_query_arg invoked with [123] parameters?, 0 required\.$#'
		# - '#^Function wp_sprintf invoked with [23456] parameters, 1 required\.$#'
		# - '#^Function add_post_type_support invoked with [345] parameters, 2 required\.$#'
		# - '#^Function ((get|add)_theme_support|current_theme_supports) invoked with [2345] parameters, 1 required\.$#'
		# https://core.trac.wordpress.org/ticket/43304
		# - '/^Parameter #2 \$deprecated of function load_plugin_textdomain expects string, false given\.$/'
		# WP-CLI accepts a class as callable
		# - '/^Parameter #2 \$callable of static method WP_CLI::add_command\(\) expects callable\(\): mixed, \S+ given\.$/'
		# Ignore cookie_redirect_key deprecation errors.
		# - '/^Access to deprecated property \$cookie_redirect_key/'
		# Please consider commenting ignores: issue URL or reason for ignoring
