# Your WordPress site URL
NEXT_PUBLIC_WORDPRESS_URL=http://wordpress-faustjs-project.ddev.site/wp

# Your Faust site URL
NEXT_PUBLIC_URL=http://localhost:3000

# Plugin secret found in WordPress Settings->Faust
# FAUST_SECRET_KEY=YOUR_PLUGIN_SECRET

# Secret revalidation token
# REVALIDATION_TOKEN=
